#markerLayer img {
    -webkit-animation-timing-function: ease;
    -moz-animation-timing-function: ease;
    -o-animation-timing-function: ease;
    animation-timing-function: ease;
}

@keyframes example {
    from{

    }
    to {

    }
}

.gm-style > div > div > div > div > img {
    border-radius: 100%;
    border: solid black;
}