<!--
Author: Raine Padilla (Initially done by Tyler Bezera)
Date: 4/25/2018
Updated: 5/14/2018
Team: Remote Workers
-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Admin Panel</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" integrity="sha384-9gVQ4dYFwwWSjIDZnLEWnxCjeSWFphJiwGPXr1jddIhOegiu1FwO5qRGvFXOdJZ4" crossorigin="anonymous">
    <link rel="stylesheet" href="styles/adminstyles.css" type="text/css">
</head>
<body>

<!--NAVBAR-->
<nav class="navbar navbar-expand-lg navbar-light bg-light container-fluid">
    <div class="row m-0 p-0 w-100 navNav">
        <a class="navbar-brand font-weight-light col col-lg-4 mr-0" href="#">
            AaronAviles.com
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse justify-content-around navbar-collapse col col-lg-4" id="navbarSupportedContent">
            <ul class="navbar-nav">
                <li class="nav-item">
                    <a class="nav-link p-0 mr-4" href="./places">Places</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link p-0 mr-4" href="./">Life</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link p-0 mr-4 active" href="./admin">Admin</a>
                </li>

            </ul>
            <!--<form class="form-inline my-2 my-lg-0">-->
            <!--<input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">-->
            <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>-->
            <!--</form>-->
        </div>
    </div>
</nav>
<!-- Body Container Div -->

    <!-- Main Content Row -->
    <div class="row content mh-100 mt-0">
        <!-- Left Side Bar Column -->
        <div class="col-2">
            <!-- Left Side Bar Div -->
            <div class="left-sidebar">
                <!-- Left Side Bar Wrapper Div -->
                <div class="left-sidebar-wrapper">
                    <ul class="nav flex-column">
                        <!--<li class="nav-item" href="#"><a href="admin.html"><span class="nav-icon"><img src="octicons/svg/home.svg">Dashboard</span></a></li>-->
                        <li class="nav-item" href="#"><a href="" data-toggle="modal" data-target="#addEventModal"><span class="nav-icon">
                            <img src="octicons/svg/checklist.svg">Add an Event</span></a></li>
                    </ul>
                </div>
                <!-- End Left Side Bar Wrapper Div -->
            </div>
            <!-- End Left Side Bar Div -->
        </div>
        <!-- End Side Bar Column -->
        <!-- Main Column -->
        <div class="col-10">
            <!-- Main Content Div -->
            <div class="main-content">
                <!-- Modal -->
                <div class="modal fade" id="addEventModal" tabindex="-1" role="dialog" aria-labelledby="addEventModalLabel" aria-hidden="true">
                    <div class="modal-dialog modal-dialog-centered" role="document">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="addEventModalTitle">Add an Event</h5>
                                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                            <div class="modal-body">
                                <!-- Add Event Form -->
                                <form class="form" action="model/add-event.php" method="post" role="form" autocomplete="off">
                                    <div class="form-group">
                                        <label for="eventName">Event Name</label>
                                        <input type="text" class="form-control" id="eventName" name="eventName">
                                    </div>
                                    <div class="form-group">
                                        <label for="eventContent">Event Content</label>
                                        <textarea class="form-control" id="eventContent" name="eventContent" rows="3"></textarea>
                                    </div>
                                    <div class="form-group">
                                        <label for="eventImage">Event Images</label>
                                        <input type="file" class="form-control-file" id="eventImage" name="eventImage[]">
                                    </div>
                                    <div class="form-group">
                                        <label for="eventCategory">Event Category</label>
                                        <select class="form-control" id="eventCategory" name="eventCategory">
                                            <option selected>Entertainment</option>
                                            <option>Hospitality</option>
                                            <option>Travel</option>
                                        </select>
                                    </div>
                                    <div class="form-group">
                                        <label for="startDate">Event Date</label>
                                        <input type="date" class="form-control" id="startDate" name="startDate">
                                    </div>
                                    <div class="form-group">
                                        <label for="eventUrl">URL</label>
                                        <input type="text" class="form-control" id="eventUrl" name="eventUrl">
                                        <label for="urlCaption">Caption</label>
                                        <input type="text" class="form-control" id="urlCaption" name="urlCaption">
                                    </div>
                                        <button type="submit" class="btn btn-success btn-lg float-right">Add Event</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!-- End Main Content Div -->
        </div>
        <!-- End Main Column -->
    </div>
    <!-- End Main Content Row -->
<!-- End Body Container -->

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>
</body>
</html>