<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Json Test</title>
</head>
<style>
    .eventBlocks
    {
        text-align: center;
        background-color: green;
        color: white;
    }
</style>
<body>
<div id="eventContainer">

</div>
</body>
<script src="http://code.jquery.com/jquery.js"></script>
<script>
    {
        try
        {
            $.getJSON("events.json")
                .done(function(result){
                    $.each(result, function(index, item){
                        var newContent = '';
                        newContent += "<div id='" + index + "' class='eventBlocks'>";
                        newContent += "<p><h4>" + item.Name + "</h4><br>" + item.Category + " | " + item.Date + "</p>";
                        newContent += "<p>" + item.Description + "</p></div>";
                        $("#eventContainer").append(newContent);
                    });
                });

        }

        catch(Exception)
        {
            alert("Something went wrong!");
        }
    }
</script>
</html>